CMakeLists.txt.user*
bspline_test
test*.datatable
*.so
*.a
.idea/
build/
bin/
*.cbp
*.save
*.layout
*.depends
*.pyc

# Saved splines (and datatable)
*.bspline
*.datatable

# Python cache
/**/.cache/

# Auxiliary, temporary and log files related to LaTeX
docs/**/*.aux
docs/**/*.log
docs/**/*.out
docs/**/*.toc
docs/**/*.gz
docs/**/*.bbl
docs/**/*.blg
docs/**/*.*~


# Created when running
# python3 setup.py sdist
python/dist/

cmake-build-debug/
cmake-build-release/
